@import "_components";
@import "_utils";
@import "_text";

html,
body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Helvetica, sans-serif;
  background-color: #3e3e3e;
  color: rgb(200, 200, 200);
  font-weight: 300;

  @media (max-resolution: 100dpi) {
    font-weight: 400;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.app-container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 1rem 2rem;
}

.shop-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-auto-flow: row;
  place-content: center;
  gap: 1rem;
}

.card {
  padding: 1.4rem;
  background-color: rgb(45, 45, 45);
  border-radius: 10px;
  cursor: pointer;
}

.shop-card {
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-4px);
  }
}

.card > img {
  border-radius: 6px;
}

.pop-on-hover {
  position: relative;
  transition: transform 0.3s ease;
  z-index: 10;
  // overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    inset: -0px;
    box-shadow: 0 6px 16px -6px rgba(black, 0.5);
    border-radius: 10px;
    z-index: 0;
  }

  &:hover {
    transform: translateY(-4px);
  }
}

.image-container {
  height: 220px;
  // width: 146px;
  // overflow: hidden;
  border-radius: 8px;
  position: relative;

  img {
    object-fit: cover;
    position: relative;
    z-index: 1;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    // transform: translate(8px, -8px);
  }

  // &::before {
  //   content: "";
  //   inset: 0;
  //   border-radius: 8px;
  //   position: absolute;
  //   z-index: 0;
  //   background-color: rgba(250,120,120, .4);
  // }
}

.card-title {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
  min-height: 2.5rem;
  font-weight: 400;
}
